.loader {
  border-bottom: 1px solid rgba(0,0,0,0.4);
  position: relative;
}

.loader:before {
  top: -19px;
  left: 10%;
}

.loader:after {
 	content: "";
  position: absolute;
  top: -21px;
  left: 16.5%;
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,0);
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(255,255,255,0.2);
}

.loader li {
 	width: 8px;
  height: 20px;
  background: white;
  border-radius: 30px;
  position: absolute;
  top: 40px;
  left: 46px;

}

.loader ul {
  animation: spinner 2s steps(12,end) infinite;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px auto;
}

.loader li:nth-child(1) {
 	transform:rotate(30deg) translate(0, -30px);
  background:#383838;
}

.loader li:nth-child(2) {
 	transform:rotate(60deg) translate(0, -30px);
  background:#424242;
}

.loader li:nth-child(3) {
 	transform:rotate(90deg) translate(0, -30px);
  background:#494949;
}

.loader li:nth-child(4) {
 	transform:rotate(120deg) translate(0, -30px);
  background:#505050;
}

.loader li:nth-child(5) {
 	transform:rotate(150deg) translate(0, -30px);
  background:#616161;
}

.loader li:nth-child(6) {
 	transform:rotate(180deg) translate(0, -30px);
  background:#767676;
}

.loader li:nth-child(7) {
 	transform:rotate(210deg) translate(0, -30px);
  background:#a3a3a3;
}

.loader li:nth-child(8) {
 	transform:rotate(240deg) translate(0, -30px);
  background:#bdbdbd;
}

.loader li:nth-child(9) {
 	transform:rotate(270deg) translate(0, -30px);
  background:#d2d2d2;
}

.loader li:nth-child(10) {
 	transform:rotate(300deg) translate(0, -30px);
  background:#dedede;
}

.loader li:nth-child(11) {
 	transform:rotate(330deg) translate(0, -30px);
  background:#e8e8e8;
}

.loader li:nth-child(12) {
 	transform:rotate(0deg) translate(0, -30px);
  background:#fff;
}

@keyframes spinner {
  0% { transform: rotate(0deg) scale(0.6); }
  100% { transform: rotate(-360deg) scale(0.6); }
}
